.responsive .react-colorful {
  height: 28vh;
  width: auto;
}

.responsive .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.responsive .react-colorful__hue {
  height: 30px;
  border-radius: 0 0 4px 4px;
}
.responsive .react-colorful__saturation-pointer {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 530px) {
  .responsive .react-colorful {
    height: 25vh;
    width: auto;
  }
  .responsive .react-colorful__hue {
    height: 20px;
    border-radius: 0 0 4px 4px;
  }
  .responsive .react-colorful__hue-pointer {
    width: 25px;
    height: 25px;
  }
  .responsive .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
  }
}
